<template>
  <div>
    <div class="ui-container-page">
      <div class="ui-page-header">
        <div class="ui-page-title">
          เปลี่ยนรหัสผ่าน
          <router-link class="btn btn-light btn-sm" to="/me">
            <i class="fa fa-arrow-left"></i>
            กลับ
          </router-link>
        </div>
        <div class="ui-page-action-button"></div>
      </div>
      <div class="ui-page-body">
        <div class="row">
          <div class="col-md-12 ui-user-info">
            <div>
              <label for="oldPassword">
                รหัสผ่านปัจจุบัน
                <span class="ui-required">*</span>
              </label>
              <input
                id="oldPassword"
                name="oldPassword"
                type="password"
                v-model="changePassword.oldPassword"
                class="form-control"
                max="50"
                maxlength="50"
              />
              <div class="invalid-feedback"></div>
            </div>
            <div>
              <label for="password">
                รหัสผ่านใหม่
                <span class="ui-required">*</span>
              </label>
              <input
                id="password"
                name="password"
                type="password"
                v-model="changePassword.password"
                class="form-control"
                max="50"
                maxlength="50"
              />
              <div class="invalid-feedback"></div>
            </div>
            <div>
              <label for="confirmPassword">
                ยืนยันรหัสผ่านใหม่
                <span class="ui-required">*</span>
              </label>
              <input
                id="confirmPassword"
                name="confirmPassword"
                type="password"
                v-model="changePassword.confirmPassword"
                class="form-control"
                max="50"
                maxlength="50"
              />
              <div class="invalid-feedback"></div>
            </div>
          </div>
        </div>

        <div
          class="alert alert-warning"
          v-if="error"
          role="alert"
        >ไม่สามารถเปลี่ยนรหัสผ่านได้ เนื่องจากระบุข้อมูลไม่ครบหรือไม่ถูกต้อง</div>
        <div v-if="success">
          <div class="alert alert-success" role="alert">เปลี่ยนรหัสผ่านเสร็จเรียบร้อย</div>
          <div class="alert alert-info" role="alert">
            เนื่องจากมีการเปลี่ยนรหัสผ่าน กรุณา
            <a
              style="text-decoration : underline;"
              href="javascript:void(0)"
              @click="logout()"
            >คลิกที่นี่</a>เพื่อออกจากระบบและเข้าสู่ระบบใหม่อีกครั้ง
          </div>
        </div>
      </div>
      <div class="ui-page-footer text-right">
        <button class="btn btn-light mr-3" @click="reset()">รีเซต</button>
        <button @click="doChangePassword()" class="btn btn-primary">
          <span v-if="!loading">
            <i class="fa fa-save"></i>
            เปลี่ยนรหัสผ่าน
          </span>
          <div v-else>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span>Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      success: false,
      error: false,
      loading: false,
      changePassword: {},
    };
  },
  mounted() {},
  methods: {
    reset() {
      this.changePassword = {};
    },
    doChangePassword() {
      this.success = false;
      this.error = false;
      this.loading = true;
      this.$apiPOST("/me/changePassword", this.changePassword)
        .then(() => {
          this.loading = false;
          this.success = true;
        })
        .catch((e) => {
          this.loading = false;
          this.error = true;
        });
    },
    logout() {
      this.$apiPOST("/auth/logout").then(() => {
        localStorage.removeItem("user_session");
        window.location.reload();
      });
    },
  },
};
</script>

<style scoped>
.ui-user-info > div {
  margin-bottom: 1rem;
}
.ui-user-image {
  max-width: 200px;
  border-radius: 3px;
  border: dashed 1px #c7c7c7;
}
</style>