<template>
  <div class="container">
    <div class="card pmd-card">
      <div class="card-header d-flex flex-row">
        <div class="media-body">
          <div class="row">
            <router-link :to="`/profiles`" class="btn btn-secondary btn-sm" style="height:33px; margin-left:2px;">
              <i class="fa fa-arrow-left"></i> กลับ
            </router-link>
            <h3 class="card-title">แก้ไขข้อมูลบัญชีผู้ใช้</h3>
          </div>
        </div>
      </div>
      <div class="card-body">

         <div class="form-group">
          <label for="inputName">ชื่อผู้ใช้งาน</label>
          <input type="text" class="form-control" v-model="edit.username"/>
        </div>

        <div class="form-group">
          <label for="inputTel">รหัสผ่าน</label>
          <input type="password" class="form-control" v-model="edit.password" disabled>
        </div>

        <div class="form-group">
          <label for="inputName">ชื่อ</label>
          <input type="text" class="form-control" v-model="edit.name"/>
        </div>

        <div class="form-group">
          <label for="inputName">นามสกุล</label>
          <input type="text" class="form-control" v-model="edit.lastname"/>
        </div>

        <div class="form-group">
          <label for="inputEmail">อีเมล</label>
          <input
            type="email"
            class="form-control"
            name="email"
            v-model="edit.email"
          />
        </div>

          <div class="form-group">
          <label>ตำแหน่ง</label>
          <input
            type="position"
            class="form-control"
            name="position"
            v-model="edit.position" disabled
          />
        </div>
        


      </div>
      <div class="card-footer">
        <a @click="save()" id="save"  class="btn btn-secondary">ยืนยัน</a>
        <router-link router-link :to="`/profiles`" class="btn btn-danger" id="cancle">ยกเลิก</router-link>
      </div>
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data(){
    return{
      edit:{
        username: "",
        password: "",
        name: "",
        lastname: "",
        email: "",
      },
      previewImage: null,
      picture: null
    }
  },
  save() {
      this.loading = true;
      this.error = false;
      let user_token = JSON.parse(localStorage.getItem("user_token"));
      // axios.get(url,headers)
      // axios.post(url,data,headers)
      console.log(this.edit);
      axios
        .post(`http://127.0.0.1:8000/api/user_data/`, this.$route.params.id, {
          headers: {
            Authorization: "bearer " + user_token,
          },
        })
        .then((response) => {
          if (response.status === 200) {
            //  console.log(response);
            // this.detail = response.data[0];
            this.$router.push("/users");
          }
        });
    },
 async mounted() {
   this.loading = true;
      this.error = false;
    let user_token = JSON.parse(localStorage.getItem("user_token"));
    await axios
      .get(`http://127.0.0.1:8000/api/user_data/` + localStorage.id_user, {
        headers: {
          Authorization: "Bearer " + user_token,
        },
      })
      .then((response) => {
        if (response.status === 200) {
          console.log(response.data[0]);
          this.edit = response.data[0];
          this.edit.password = localStorage.password_user
        }
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
<style scoped>
.container {
  width: 700px;
  height: 700px;
  padding: 4% 4% 4% 4%;
}
.card-title{
  margin-left:20px;
}
img {
  height: 150px;
  width: 150px;
  margin: auto auto;
  display: block;
}
.btn-light {
  border: 1px solid;
  margin-left: 8px;
  margin-top: 5px;
  height: 30px;
}
#save {
  color: white;
  background-color: #30467c;
  border-color: #4861a0;
  margin-top: 10px;
  margin-left: 425px;
}
#cancle {
  float: right;
  margin-top: 10px;
  margin-left: 5px;
}
.imagePreviewWrapper{
    display: block;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
}
</style>