<template>
  <div class="container">
    <div class="card pmd-card">
      <div class="card-header d-flex flex-row">
        <div class="media-body">
          <div class="row">
            <h3 class="card-title" style="margin-left: 10px">บัญชีผู้ใช้</h3>
            <router-link :to="`/profiles/edits`" class="btn btn-light"
              ><i class="fa fa-edit"></i> แก้ไข</router-link
            >
          </div>
        </div>
      </div>
      <div class="card-body">
       

         <div class="form-group">
          <label>ชื่อผู้ใช้งาน</label>
          <input type="text" class="form-control" v-model="profile.username"  disabled/>
        </div>

        <div class="form-group">
          <label>รหัสผ่าน
            <i
                  class="form-group"
                  style="margin-left: 0.5rem; color: #9c9c9c"
                ></i>
          </label>
          
          <input
            type="password"
            class="form-control"
            v-model="profile.password" disabled
          />
        </div>

        <div class="form-group">
          <label>ชื่อ - นามสกุล</label>
          <input type="text" class="form-control" v-model="profile.name"  disabled/>
        </div>

        <div class="form-group">
          <label>อีเมล</label>
          <input
            type="email"
            class="form-control"
            name="email"
            v-model="profile.email" disabled
          />
        </div>

        <div class="form-group">
          <label>ตำแหน่ง</label>
          <input
            type="position"
            class="form-control"
            name="position"
            v-model="profile.position" disabled
          />
        </div>
      </div>
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      profile: {
        username: "",
        password: "",
        name: "",
        email: "",
      },
    };
  },
  async mounted() {
    let user_token = JSON.parse(localStorage.getItem("user_token"));
    await axios
      .get(`http://127.0.0.1:8000/api/user_data/` + localStorage.id_user, {
        headers: {
          Authorization: "Bearer " + user_token,
        },
      })
      .then((response) => {
        if (response.status === 200) {
          console.log(response.data[0]);
          console.log(localStorage.password_user)
          this.profile = response.data[0];
          this.profile.password = localStorage.password_user
        }
      })
      .catch((error) => {
        console.log(error);
      });
    // let user_token = JSON.parse(localStorage.getItem("user_token"))
    //   await axios
    //   .get(http://127.0.0.1:8000/api/profile,
    //   {
    //     headers:{
    //       "Authorization" : "bearer " + user_token
    //     }
    //   }
    //   )
    //   .then((response) => {
    //     if (response.status === 200) {
    //       this.profile.data = response.data;
    //     }
    //   })
    //   .catch((error) => {
    //     console.log(error);
    //   });
  },
};
</script>
<style scoped>
.container {
  width: 700px;
  height: 700px;
  padding: 4% 4% 4% 4%;
}
img {
  height: 150px;
  width: 150px;
  margin: auto auto;
  display: block;
}
.btn-light {
  border: 1px solid;
  margin-top: 5px;
  margin-left: 330px;
  height: 35px;
  widows: 120px;
}
</style>