<template>
  <div class="container">
    <div style="text-align: center" v-if="is_loading == false">
      <div class="loadingio-spinner-rolling-mpxey0ki0e">
        <div class="ldio-zt1msxxbvq">
          <div></div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="card pmd-card" style="width: 70%">
        <div class="card-header d-flex flex-row">
          <div class="media-body">
            <div class="row">
              <h3 class="card-title" style="margin-left: 10px">
                เพิ่มผู้ใช้งาน
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="needs-validation" id="form" novalidate>
            <div class="form-group ">
              <label>ชื่อผู้ใช้งาน <span class="ui-required">*</span></label>
              <input
                type="text"
                ref="username"
                class="form-control"
                v-model="form.username"
              />
              <div class="invalid-feedback"></div>
            </div>

            <div class="form-group ">
              <label>รหัสผ่าน <span class="ui-required">*</span></label>
              <input
                type="password"
                ref="password"
                class="form-control"
                v-model="form.password"
              />
              <div class="invalid-feedback"></div>
            </div>

            <div class="form-group ">
              <label>ชื่อ<span class="ui-required">*</span></label>
              <input
                type="text"
                ref="name"
                class="form-control"
                v-model="form.name"
              />
              <div class="invalid-feedback"></div>
            </div>

            <div class="form-group ">
              <label>นามสกุล <span class="ui-required">*</span></label>
              <input
                type="text"
                ref="lastname"
                class="form-control"
                v-model="form.lastname"
              />
              <div class="invalid-feedback"></div>
            </div>

            <div class="form-group">
              <label>อีเมล<span class="ui-required">*</span></label>
              <input
                type="text"
                ref="email"
                class="form-control"
                v-model="form.email"
                max="50"
                maxlength="50"
              />
              <div class="invalid-feedback"></div>
            </div>

            <div class="form-group ">
              <label>ตำแหน่ง <span class="ui-required">*</span></label>
              <select
                ref="position"
                class="form-control"
                style="width: 35%"
                v-model="form.position"
              >
                <option value="" selected disabled>-- เลือกตำแหน่ง --</option>
                <option>ฝ่ายบัญชี</option>
                <option>ฝ่ายขาย</option>
              </select>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="form-row float-right">
            <a @click="save()" id="save" role="button" class="btn btn-success"
              >ยืนยัน</a
            >
            <router-link
              :to="`/settings/users`"
              type="button"
              id="cancle"
              class="btn btn-danger"
              >ยกเลิก</router-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "FormComponent",

  data() {
    return {
      reg: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
      form: {
        name: "",
        lastname: "",
        username: "",
        email: "",
        position: "",
        password: "",
      },
    };
  },
  methods: {
    validateEmail(email) {
      return this.reg.test(email);
    },
    validate() {
      let arrCheck = ["name", "lastname", "username", "password"];

      let count_valid = 0;

      arrCheck.forEach((row) => {
        if (this.$refs[row].value.trim() == "") {
          this.$refs[row].style.borderColor = "red";
          count_valid++;
        } else {
          this.$refs[row].style.borderColor = "#ced4da";
        }
        console.log(row + " : " + this.$refs[row].value);
      });

      if (this.validateEmail(this.$refs["email"].value)) {
        this.$refs["email"].style.borderColor = "#ced4da";
      } else {
        this.$refs["email"].style.borderColor = "red";
        count_valid++;
      }

      return count_valid > 0 ? false : true;
    },
    save() {
      if (this.validate()) {
        console.log(this.form);
        axios
          .post(`http://127.0.0.1:8000/api/insert_user`, this.form, {})
          .then((response) => {
            console.log(response);
            if (response.status === 200) {
              this.$router.push("/settings/users");
            }
          });
      }
    },
  },
};
</script>

<style scoped>
.container {
  width: 900px;
  margin-top: 20px;
  margin-left: 460px;
}
.card-header {
  margin-top: 20px;
}
/* #form{
  margin-left:250px;
} */
#save {
  color: white;
  background-color: #30467c;
  border-color: #4861a0;
  float: left;

  margin-top: 10px;
}
#cancle {
  float: center;
  margin-top: 10px;
  margin-left: 5px;
}
</style>