<template>
  <div class="container">
    <div style="text-align: center" v-if="is_loading == false">
      <div class="loadingio-spinner-rolling-mpxey0ki0e">
        <div class="ldio-zt1msxxbvq">
          <div></div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="card pmd-card" style="width: 70%">
        <div class="card-header d-flex flex-row">
          <div class="media-body">
            <div class="row">
              <h3 class="card-title" style="margin-left: 10px">
                รายละเอียดผู้ใช้งาน
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>ชื่อผู้ใช้งาน</label>
            <input
              type="text"
              class="form-control"
              v-model="detail.username"
              disabled
            />
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label>ชื่อ</label>
            <input
              type="text"
              class="form-control"
              v-model="detail.name"
              disabled
            />
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group ">
            <label>นามสกุล</label>
            <input
              type="text"
              class="form-control"
              v-model="detail.lastname"
              disabled
            />
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group ">
            <label>อีเมล</label>
            <input
              type="email"
              class="form-control"
              name="email"
              v-model="detail.email"
              max="50"
              maxlength="50"
              disabled
            />
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label>ตำแหน่ง</label>
            <input
              type="text"
              class="form-control"
              v-model="detail.position"
              disabled
            />
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="card-footer">
          <router-link
            router-link
            :to="`/settings/users`"
            class="btn btn-secondary"
            id="back"
            >กลับ</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      is_loading: false,
      detail: {
        name: "",
        lastname: "",
        username: "",
        email: "",
        position: "",
        data: [],
      },
    };
  },
  async mounted() {
    let user_token = JSON.parse(localStorage.getItem("user_token"));
    await axios
      .get(`http://127.0.0.1:8000/api/user_data/` + this.$route.params.id, {
        headers: {
          Authorization: "Bearer " + user_token,
        },
      })
      .then((response) => {
        if (response.status === 200) {
          console.log(response);
          this.detail = response.data[0];
          this.is_loading = true;
        }
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>

<style scoped>
.container {
  width: 900px;
  margin-top: 20px;
  margin-left: 460px;
}
.card-header {
  margin-top: 20px;
}
#back {
  margin-top: 10px;
  margin-left: 500px;
}
@keyframes ldio-zt1msxxbvq {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-zt1msxxbvq div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #93dbe9;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-zt1msxxbvq div {
  animation: ldio-zt1msxxbvq 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-mpxey0ki0e {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-zt1msxxbvq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zt1msxxbvq div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
</style>