<template>
  <div class="container">
    <div style="text-align:center;" v-if="is_loading == false">
        <div class="loadingio-spinner-rolling-mpxey0ki0e">
        <div class="ldio-zt1msxxbvq">
          <div>

          </div>
        </div>
      </div>
      </div>
      <div v-else>
    <div class="ui-page-header">ผู้ใช้งาน</div>
    <div class="ui-page-body">
      <div class="row">
        <div class="col-md-2 text-left">
          <router-link
            :to="`/settings/user/adds`"
            type="button"
            class="btn btn-success"
            id ="add"
            ><i class="fa fa-plus-circle"></i> เพิ่ม</router-link
          >
        </div>
        <div class="col-md-2"></div>
      </div>
      <br />
      <table class="table table-bordered table-hover">
        <thead style="background-color:Gainsboro;">
          <tr style="vertical-align: middle">
            <th style="text-align: center" scope="col">ลำดับ</th>
            <th scope="col" style="text-align: center; width:150px;">ชื่อ-นามสกุล</th>
            <th scope="col" style="text-align: center; width:120px;">ตำแหน่ง</th>
            <th scope="col" style="text-align: center; width:100px;">อีเมล</th>
            <th scope="col" style="text-align: center; width:150px;">ดำเนินการ</th>
          </tr>
        </thead>
        <tbody id="table" >
          <tr v-for="(item, index) in form.data" :key="index">
            <td style="width: 30px; text-align: center">{{ index + 1 }}</td>
            <td style="width: 60px; text-align: left">{{ item.name }} {{ item.lastname }}</td>
            <td style="width: 60px; text-align: center">{{ item.position }}</td>
            <td style="width: 60px; text-align: left">{{ item.email }}</td>
            <td style="width: 60px; text-align: center">
              <router-link
                :to="`/settings/user/detail/${item.id_user}`"
                type="button"
                data-toggle="tooltip"
                title="ดูรายละเอียด"
                data-placement="top"
                style="border: 1px solid;"
                class="btn btn-info fa fa-search"
              ></router-link>
              <router-link
                :to="`/settings/user/edits/${item.id_user}`"
                 style="margin-left:0.5rem; "
                class="btn btn-warning fa fa-edit"
                data-target="#modaldeleteconfirm"
                 title="แก้ไขผู้ใช้งาน"
                ></router-link
              >
              <button
                class="btn btn-danger fa fa-trash"
                style="margin-left:0.5rem"
                data-toggle="modal"
                title="ลบผู้ใช้งาน"
                data-target="#modaldeleteconfirm"
                @click="id_user = item.id_user"
              >
              </button>
              <!-- Central Modal Fluid -->
             <div
                class="modal fade"
                id="modaldeleteconfirm"
                tabindex="-1"
                role="dialog"
                aria-labelledby="modaldeleteconfirm"
                aria-hidden="true"
              >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">ลบข้อมูล</h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">คุณต้องการลบข้อมูลใช่หรือไม่ ?</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  ยกเลิก
                </button>
                <button
                  type="button"
                  @click="Deleterow()"
                  class="btn btn-success"
                  data-dismiss="modal"
                >
                  ยืนยัน
                </button>
                
              </div>
            </div> 
            </div>
              </div>
              <!-- Central Modal Fluid -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ui-page-footer"></div>
      </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      is_loading : false,
      form: {
        name: "",
        lastname: "",
        position: "",
        email: "",
        data: [],
      },
      id_user: "",
    };
  },
  // async mounted() {
  //   let user_token = JSON.parse(localStorage.getItem("user_token"));
  //   await axios
  //     .get("http://127.0.0.1:8000/api/get_all_user", {
  //       headers: {
  //         Authorization: "bearer " + user_token,
  //       },
  //     })
  //     .then((response) => {
  //       if (response.status === 200) {
  //         this.form.data = response.data;
  //       }
  //     })
  //     .catch((error) => {
  //       console.log(error);
  //     });
  // },
  async mounted(){
    this.getUser();
  },
  methods: {
    async Deleterow() {
      console.log(this.id_user);
      let user_token = JSON.parse(localStorage.getItem("user_token"));
      
      await axios.get(
        `http://127.0.0.1:8000/api/delete_user` + this.id_user,
        {
          headers: {
            Authorization: "bearer " + user_token,
            
          },
          
        }  
      )
      this.id_user = "";
      this.getUser();
    },
    async getUser() {
      let user_token = JSON.parse(localStorage.getItem("user_token"));
      await axios
      
        .get((`http://127.0.0.1:8000/api/get_all_user`), {
          headers: {
            Authorization: "bearer " + user_token,
          },
        })
        .then((response) => {
          console.log(response);
          if (response.status === 200) {
            this.form.data = response.data;
            this.is_loading = true
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
#add{
   color: white;
   background-color: #30467C  ;
   border-color: white ;
   border: 3px solid;
}
@keyframes ldio-zt1msxxbvq {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-zt1msxxbvq div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #93dbe9;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-zt1msxxbvq div {
  animation: ldio-zt1msxxbvq 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-mpxey0ki0e {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-zt1msxxbvq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zt1msxxbvq div { box-sizing: content-box; }
/* generated by https://loading.io/ */
</style>