<template>
    <div class="container">
        <div class="ui-page-header">แดชบอร์ด</div>
        <div class="ui-page-body">
            <div class="row d-flex justify-content-center">
                <div class="col-md-3">
                    <div class="card ui-number-of-quotation">
                        <div class="card-body">
                            <p>จำนวนใบเสนอราคาทั้งหมด</p>
                             <div class="ui-number">10</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card ui-number-of-quotation">
                        <div class="card-body">
                            <p>จำนวนใบ...</p>
                             <div class="ui-number">...</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card ui-number-of-quotation">
                        <div class="card-body">
                            <p>จำนวนใบ...</p>
                             <div class="ui-number">...</div>
                        </div>
                    </div>
                </div>
            </div>

            <select class="selectpicker btn btn-secondary" data-toggle="dropdown" style="margin-top : 1.5rem; margin-left:48.2rem">
                <option selected style="background-color:white;color:black;">Select year</option>
                <option style="background-color:white;color:black;">2010</option>
                <option style="background-color:white;color:black;">2011</option>
                <option style="background-color:white;color:black;">2012</option>
                <option style="background-color:white;color:black;">2013</option>
                <option style="background-color:white;color:black;">2014</option>
                <option style="background-color:white;color:black;">2015</option>
                <option style="background-color:white;color:black;">2016</option>
            </select>

         <!-- graph of quotation by years -->
            <div class="row d-flex justify-content-center" style="margin-top : 1.5rem;" >
                <div class="card ui-graph">
                    <div class="card-body">
                         <h5>กราฟของปี xxxx</h5>
                         <div class="ui-statistic-number">กราฟแท่ง</div>
                    </div>
                </div>
            </div>
    
        </div>
        
        <div>


        </div>

    </div>
</template>

<script>
  export default {
      data(){
          return{

          }
      },
      methods :{
          selectpicker(){
              document.ready(function(){
                  (".selectpicker").click(function(){
                      ('selectpicker').checked;
                  })
              })
          }
        }
  }
</script>
<style  scoped>
.ui-datepicker-calendar {
    display: none;
    }
.ui-number-of-quotation {
  background-color: #f5f5f5;
  border-color: #000000;
  color: black;
  height: 100px;
  text-align: center;
}
.ui-graph {
  background-color: #f5f5f5;
  border-color: #000000;
  color: black;
  width: 790px;
  height: 270px;
  margin: auto;
  text-align: center;
}
.ui-number {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
</style>