@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
@import url('rel="stylesheet" https://www.w3schools.com/w3css/4/w3.css');

#app {
  font-family:'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}
.ui-page-header,
.ui-page-body,
.ui-page-footer {
  padding: 1rem;
}

.ui-page-header {
   font-family:'Prompt', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.ui-page-body {
  padding: 1rem 2.5rem;
}
.ui-page-footer {

}
.ui-required {
  color      : #c33434;
  margin-left: 0.2rem;
  font-size  : 1.5rem;
  line-height: 0px;
}

.ui-required span {
  font-size: 1rem;
}