<template>
  <div id="app">

    <router-view />
  </div>
</template>
<script>
export default {
   name:'Login',
   components:{
   }
}
</script>

<style>
  @import'~bootstrap/dist/css/bootstrap.css';
</style>