<template>
<div>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="height:67px;">
        <img src ="./assets/goldfish.png"    class=" platong-logo border border-warning rounded" >
           PlaThong.app
        </a>   
  </nav><br>
  <div class="card text-center " style="display: inline-flex;
    width: 60%;" >
    <div class="card-header bg-info" >
      <ul class="nav nav-pills card-header-pills">
       <li class="nav-item ">
         <a class="nav-link disabled text-white " tabindex="-1" aria-disabled="true">รีเซ็ตรหัสผ่าน</a>
       </li>
      </ul>
    </div>
      <div class="card-body">
    <p align="left"> กรอกไอดีและอีเมลที่ต้องการรีเซ็ตรหัสผ่าน </p>
     <input type="text"  class="form-control" placeholder="ID" id = "username"><br>
    <input type="text"  class="form-control" placeholder="example@example.example" id = "email"><br>
    <a href="#" class="btn btn-info">Send</a>
  </div>
</div>
</div>


</template>

<script>
export default {

}
</script>

<style>
.platong-logo {
  width: 70px;
  margin-top:-3.5px;
  margin-left:-4px;
}
.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>