<template>
  <div class="container">
    <Toasts
      :rtl="true"
      :max-messages="7"
      :time-out="5000"
      :closeable="false"
    ></Toasts>
    <div class="ui-page-header">เพิ่มใบเสนอราคา</div>

    <div class="ui-page-body">
      <form class="needs-validation">
        <!--number of quotation-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputNumber"
              >เลขที่ใบเสนอราคา<span class="ui-required">*</span></label
            >
            <input
              ref="qt_code"
              type="text"
              class="form-control"
              placeholder="เช่น QA0001"
              v-model="quotation.qt_code"
            />
          </div>
          <div class="form-group col-md-4">
            <label
              >ชื่อ - นามสกุล พนักงานขาย<span class="ui-required"
                >*</span
              ></label
            >
            <input
              ref="saleman_name"
              type="text"
              placeholder="กรุณากรอกชื่อพนักงานขาย"
              id="salemanName"
              class="form-control"
              v-model="quotation.saleman_name"
              required
            />
          </div>
          <div class="form-group col-md-4">
            <label>เบอร์โทรศัพท์<span class="ui-required">*</span></label>
            <input
              ref="phone_no"
              placeholder="กรุณากรอกเบอร์โทรศัพท์"
              type="text"
              class="form-control"
              v-model="quotation.phone_no"
            />
          </div>
        </div>
        <!--date of Expire quotation-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="issueDate"
              >วันที่ออกใบเสนอราคา<span class="ui-required">*</span></label
            >
            <!-- {{
              quotation.issue_date.split("-")[2] +
                "/" +
                quotation.issue_date.split("-")[1] +
                "/" +
                quotation.issue_date.split("-")[0]
            }} -->
            <!-- <input
              type="date"
              v-model="quotation.issue_date"
              class="form-control"
              id="issueDate"
              name="issueDate"
              
            /> -->
            <Datepicker
              v-model="quotation.issue_date"
              input-class="form-control"
              format="dd/MM/yyyy"
            ></Datepicker>
          </div>
          <div class="form-group col-md -4">
            <label for="issueDate"
              >วันหมดอายุใบเสนอราคา<span class="ui-required">*</span></label
            >
            <!-- <input
              type="date"
              v-model="quotation.expire_date"
              class="form-control"
              id="expireDate"
              name="expireDate"
            /> -->
            <Datepicker
              v-model="quotation.expire_date"
              input-class="form-control"
              format="dd/MM/yyyy"
            ></Datepicker>
          </div>
          <div class="form-group col-md-4">
            <label for="issueDate"
              >วันกำหนดส่งของ<span class="ui-required">*</span></label
            >
            <!-- <input
              type="date"
              v-model="quotation.delivery_date"
              class="form-control"
              id="deliveryDate"
              name="issueDate"
            /> -->
            <Datepicker
              v-model="quotation.delivery_date"
              input-class="form-control"
              format="dd/MM/yyyy"
            ></Datepicker>
          </div>
        </div>
        <!--date of Product delivery-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>ยืนราคาภายใน (วัน)<span class="ui-required">*</span></label>
            <input
              ref="validity"
              type="text"
              placeholder="กรุณากรอกจำนวนวันกำหนดยืนราคา"
              id="validity"
              class="form-control"
              v-model="quotation.validity"
            />
          </div>
          <div class="form-group col-md-4">
            <label>ลูกค้า<span class="ui-required">*</span></label>
            <div class="input-group ">
              <input
                ref="name_customer"
                type="text"
                class="form-control"
                
                aria-label=""
                aria-describedby="button-addon2"
                v-model="quotation.name_customer"
                v-if="checkAddCustomer == 1"
              />
              <select
                ref="codeCustomer"
                id="credit"
                class="form-control"
                name="credit"
                v-model="quotation.codeCustomer"
                v-if="checkAddCustomer == 0"
              >
                <option
                  v-for="value in customerList"
                  :key="value.customer_id"
                  :value="value.customer_id"
                >
                  {{ value.name_customer }}
                </option>
              </select>
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary btn-add-customer"
                  type="button"
                  id="button-addon2"
                  v-on:click="openModalAdd"
                >
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button
                  class="btn btn-outline-info btn-refresh-customer "
                  type="button"
                  id="button-addon3"
                  v-on:click="refreshCustomer"
                >
                  <i class="fa fa-reply" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-12"><h5>เงื่อนไขราคา</h5></div>

          <div class="form-group col-md-4">
            <label for="inputCredit"
              >เครดิต<span class="ui-required">*</span></label
            >
            <select
             
              id="credit"
              class="form-control"
              name="credit"
              v-model="quotation.credit"
            >
              <option value="NONE">ไม่มีเครดิต</option>
              <option value="7">7 วัน</option>
              <option value="15">15 วัน</option>
              <option value="30">30 วัน</option>
              <option value="45">45 วัน</option>
              <option value="manual">ระบุเอง</option>
            </select>
            <div class="py-2" v-if="quotation.credit == 'manual'">
              <div class="form-group">
                
                <input
                  type="text"
                  class="form-control"
                  name="cradit_value"
                  v-model="quotation.credit_value"
                />
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="InputDiscount"
              >ส่วนลด<span class="ui-required">*</span></label
            >
            <select
              id="discount"
              class="form-control"
              name="state"
              @change="calculateSummary()"
              v-model="quotation.discount_type"
             
            >
              <option value="NONE">ไม่มีส่วนลด</option>
              <option value="BY_DOCUMENT">ส่วนลดรวม</option>
              <option value="BY_ITEM" >ส่วนลดแยก</option>
            </select>
            <div
              class="py-2"
              v-if="
                quotation.discount_type == 'BY_DOCUMENT' ||
                  quotation.discount_type == 'BY_ITEM'
              "
            >
              <div class="row">
                <div class="col-4 pr-0">
                  <span style="font-weight: bold;">รูปแบบส่วนลด</span>
                </div>
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      @click="resetNumDiscount()"
                      @change="calculateSummary()"
                      v-model="quotation.typeDiscount"
                      name="typeDiscount"
                      id="typeBath"
                      value="bath"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="typeBath"
                      >ส่วนลดเป็นจำนวนเงิน (บาท)</label
                    >
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      @click="resetNumDiscount()"
                      v-model="quotation.typeDiscount"
                      @change="calculateSummary()"
                      name="typeDiscount"
                      id="typePercent"
                      value="percent"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="typePercent"
                      >ส่วนลดเป็นเปอร์เซ็นต์ (%)</label
                    >
                  </div>
                </div>
              </div>
              
              <input
                v-if="quotation.discount_type == 'BY_DOCUMENT'"
                type="number"
                class="form-control my-1"
                name="discount"
                  @input="calculateSummary()"
                v-model="quotation.num_discount"
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="InputTax"
              >ภาษีมูลค่าเพิ่ม<span class="ui-required">*</span></label
            >
            <select
              id="tax"
              class="form-control"
              name="tax"
              v-model="quotation.vat_type"
              @input="calculateSummary()"
            >
              <option value="NO_VAT">ไม่มีภาษี</option>
              <option value="EXCLUDE_VAT">แยกภาษี 7%</option>
              <option value="INCLUDE_VAT">รวมภาษี 7%</option>
            </select>
            <div></div>
          </div>
        </div>
      </form>

      <br />
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">ลำดับ</th>
            <th scope="col">รายการสินค้า</th>
            <th scope="col">จำนวน</th>
            <th scope="col">ราคาต่อหน่วย</th>
            <th scope="col" v-if="quotation.discount_type == 'BY_ITEM' && quotation.typeDiscount == 'bath'">
              ส่วนลด
            </th>
            <th scope="col" v-if="quotation.discount_type == 'BY_ITEM' && quotation.typeDiscount == 'percent'">
              ส่วนลด %
            </th>
            <th scope="col">จำนวนเงินรวม</th>
            <th scope="col">
              <button
                id="add"
                type="button"
                data-toggle="tooltip"
                title="เพิ่มรายการสินค้า"
                data-placement="top"
                class="btn btn-success"
                @click="Addrow(), calculateNetTotal()"
              >
                เพิ่ม
              </button>

            
            </th>
          </tr>
        </thead>
        <tbody class="text-center" id="table">
          <tr v-for="(item, index) in quotation.itemList" :key="index + '_' +  quotation.typeDiscount">
            <td>{{ index + 1 }}</td>
            <td>
              <input
                placeholder="กรุณากรอกชื่อสินค้า"
                ref="name"
                type="text"
                name="list"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].name"
              />
            </td>
            <td style="width:180px">
              <input
                 ref="amount"
                type="number"
                name="amount"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].amount"
              />
            </td>
            <td style="width:180px">
              <!-- <input type="number" name="price" @input="calculateSummary()" class="form-control text-center" v-model="itemList[index].price" /> -->
              <input
                ref="price"
                type="number"
                name="price"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].price"
              />
            </td>
            <td style="width:180px" v-if="quotation.discount_type == 'BY_ITEM'">
              <input
                type="number"
                name="discount"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].discount"
              />
            </td>
            <td style="width:180px">
              <input
                type="text"
                name="sum"
                class="form-control text-center"
                v-model="quotation.itemList[index].sum"
                disabled
              />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger glyphicon glyphicon-remove row-remove"
                @click="Deleterow(index), calculateSummary()"
              >
                ลบ
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" style="margin: 0;">
        <div class="col-6">
         
        </div>
        <div class="col-6">
          <!--sum-->
          <div class="form-row ">
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">รวม</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >รวม</label
              >
              <input
                id="total"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                v-model="quotation.sub_total" 
                disabled
              />
            </div>
          </div>

          <div
            class="form-row"
            v-if="
              quotation.discount_type == 'BY_DOCUMENT' ||
                quotation.discount_type == 'BY_ITEM'
            "
          >
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ส่วนลดรวม</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >ส่วนลดรวม</label
              >
              <input
                id="total_discount"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                v-model="quotation.discount_amt"
                disabled
              />
            </div>
          </div>

          <div
            class="form-row"
            v-if="
              (quotation.vat_type == 'EXCLUDE_VAT' &&
                quotation.discount_type == 'BY_DOCUMENT') ||
                quotation.discount_type == 'BY_ITEM'
            "
          >
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >ยอดรวมหลังหักส่วนลด</label
              >
              <input
                id="vat_value"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                :value="quotation.total_after_discount.toFixed(2)"
                disabled
              />
            </div>
          </div>

          <div class="form-row" v-if="quotation.vat_type == 'EXCLUDE_VAT'">
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ยอดรวมสุทธิ</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >แยกภาษี 7%</label
              >
              <input
                id="vat_value"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                :value="quotation.vat_amt.toFixed(2)"
                
                disabled
              />
            </div>
          </div>

          <div
            class="form-row"
            v-if="
              quotation.discount_type == 'BY_DOCUMENT' ||
                quotation.discount_type == 'BY_ITEM' ||
                quotation.vat_type == 'EXCLUDE_VAT'
            "
          >
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ยอดรวมสุทธิ</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >ยอดรวมสุทธิ</label
              >
              <input
                id="net_total"
                type="text"
                class="form-control my-1 col-4"
                
                :value="quotation.total"
                style="width:50%;"
                
                disabled
              />
            </div>
          </div>

          <div class="form-row" v-if="quotation.vat_type == 'INCLUDE_VAT'">
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ยอดรวมสุทธิ</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >รวมภาษี 7%</label
              >
              <input
                id="net_total"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                :value="quotation.vat_amt.toFixed(2)"
                disabled
              />
            </div>
          </div>
        </div>
      </div>

      <!--button-->
      <br />
      <div class="form-row float-right">
        <a
          @click=" ()=>{ if( validate() ) input() }"
          id="input"
          style="float:left;margin-right: 10px; "
          type="button"
          class="btn btn-success"
          
          >ยืนยัน</a
        >
        <!-- <router-link :to="`adds/bills`" id="cancle" type="button" class="btn btn-secondary" style="float:right;">ยืนยัน</router-link> -->
        <router-link
          :to="`/quotations`"
          id="cancle"
          type="button"
          class="btn btn-danger"
          style="float:right;"
          >ยกเลิก</router-link
        >
      </div>
    </div>
    <div class="ui-page-footer"></div>

    <!-- modal -->
    <div id="modal-add" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">เพิ่มลูกค้า</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>รหัสลูกค้า<span class="ui-required">*</span></label>
                <input
                  ref="codeCustomer"
                  type="text"
                  class="form-control"
                  placeholder="เช่น CU001"
                  v-model="quotation.codeCustomer"
                  required
                />
                
              </div>
              <div class="form-group col-md-8">
                <label for="inputName"
                  >ชื่อลูกค้า/ชื่อกิจการ (บริษัท)<span class="ui-required"
                    >*</span
                  ></label
                >
                <input
                 ref="name_customer_or_company"
                  type="text"
                  class="form-control"
                  name="customer_name"
                  v-model="quotation.name_customer"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputName">ที่อยู่ <span class="ui-required"
                    >*</span></label>
                <input
                  ref="address"
                  type="text"
                  class="form-control"
                  name="customer_address"
                  placeholder="ใส่เลขที่อาคาร ชั้นที่ ห้องที่ ห้องที่ ซอย ตามที่อยู่จดทะเบียน"
                  v-model="quotation.address"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName"
                  >แขวง/ตำบล<span class="ui-required">*</span></label
                >
                <input
                 ref="district"
                  id="search"
                  type="text"
                  class="form-control"
                  name="customer_distric"
                  placeholder="แขวง/ตำบล"
                  v-model="quotation.district"
                  @input="searchDistrictAutoField()"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputName"
                  >เขต/อำเภอ<span class="ui-required">*</span></label
                >
                <input
                  ref="amphoe"
                  id="amphoe"
                  type="text"
                  class="form-control"
                  name="customer_amphoe"
                  placeholder="เขต/อำเภอ"
                  v-model="quotation.amphoe"
                  @input="searchDistrictAutoField()"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName"
                  >จังหวัด<span class="ui-required">*</span></label
                >
                <input
                  ref="province"
                  id="province"
                  type="text"
                  class="form-control"
                  name="customer_province"
                  placeholder="จังหวัด"
                  v-model="quotation.province"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="inputName"
                  >รหัสไปรษณีย์<span class="ui-required">*</span></label
                >
                <input
                  ref="zipcode"
                  id="zipcode"
                  type="text"
                  class="form-control"
                  name="customer_zipcode"
                  placeholder="รหัสไปรษณีย์"
                  v-model="quotation.zipcode"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName"
                  >อีเมล<span class="ui-required">*</span></label
                >
                <input
                  
                  ref="email"
                  id="email"
                  type="text"
                  class="form-control"
                  name="customer_email"
                  placeholder="อีเมล"
                  v-model="quotation.email"
                />
              
              </div>
              <div class="form-group col-md-6">
                <label for="inputName"
                  >เบอร์โทรกลาง<span class="ui-required">*</span></label
                >
                <input
                  ref = "qo_phone_no_customer"
                  id="zipcode"
                  type="text"
                  class="form-control"
                  name="customer_Tele"
                  placeholder="เบอร์โทรบริษัท"
                  v-model="quotation.phone_no_customer"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              id="add_cus"
              type="button"
              class="btn btn-secondary" 
              @click="()=>{ if(validateInsertCustomer())  checkCustomerCode()} " 
            >
              ยืนยัน
            </button>
            <button
              type="button"
              id="cancle_cus"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// import { required } from 'vuelidate/lib/validators';
import json from "./Thailand.json";
// import $ from "jquery";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
export default {
  name: "Add",
  components: {
    Datepicker,
  },
  data() {
    return {
        reg: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,      
        quotation: {
        qt_code: "",

        issue_date: "",
        expire_date: "",
        delivery_date: "",
        saleman_name: "",
        phone_no: "",
        credit: "NONE",
        validity: "",
        vat_type: "NO_VAT",
        vat_amt: 0,
        sub_discount_type: "",
        discount_type: "NONE",
        discount_amt: 0,
        sub_total: 0,
        total: "",
        num_discount: 0,
        typeDiscount: "bath",
        credit_value:0,
        // int_total : 0,
        name_customer: "",
        email: "",
        phone_no_customer: "",
        address: "",
        district: "",
        province: "",
        amphoe: "",
        zipcode: "",

        note: "",

        codeCustomer: "",

        status: "wait",
        total_after_discount : 0,
        itemList: [],
      },
      customerList: [],
      checkAddCustomer: 0, //0 = เลือกจาก Dropdown, 1 = เพิ่มเอง
      sum: 0,
      discount: 0,
      // currenttime: "",
      state: {
        date: new Date(2016, 9, 16),
      },
    };
  },
  mounted() {
    this.quotation.issue_date = new Date().toISOString().slice(0, 10);
    this.quotation.expire_date = new Date().toISOString().slice(0, 10);
    this.quotation.delivery_date = new Date().toISOString().slice(0, 10);
    this.Addrow();
  },
  created() {
    let quotation_token = JSON.parse(localStorage.getItem("user_token"));
    console.log("Token : " + quotation_token);

    this.getDropdownCustomer();
  },
  methods: {
    // dateFormat(val, id) {
    //   console.log(id);
    //   var date = new Date(val);
    //   document.getElementById(id).value =
    //     date.getDay() + "/" + date.getMonth() + "/" + date.getFullYear();
    // },
    calculateSummary() {
      console.log("calculateSummary")
      console.log('discount_type' , this.quotation.discount_type )
      let summary = 0;
      let discountTotal = 0;

      let sub_total = 0, total = 0, discount_amt = 0, vat_amt = 0, total_after_discount = 0;

      this.quotation.itemList.forEach((item, index) => {
        try {
          if (item.name != "" && item.amount != "" && item.price != "") {
            if (this.quotation.discount_type == "BY_ITEM") {
              if (this.quotation.typeDiscount == "bath") {
                discountTotal += Number(item.discount);
                this.quotation.itemList[index].sum =
                item.amount * item.price - item.discount;
                summary += this.quotation.itemList[index].sum;
                discount_amt = discountTotal;
              } else if (this.quotation.typeDiscount == "percent") {
                this.quotation.itemList[index].sum =
                  item.amount * item.price -
                  (item.amount * item.price * item.discount) / 100;
                summary += this.quotation.itemList[index].sum;
                discountTotal +=
                  (item.amount * item.price * item.discount) / 100;
                discount_amt = Number(discountTotal);
              }
            } else {
              discountTotal += item.discount;
              this.quotation.itemList[index].sum =
                item.amount * item.price - item.discount;
              summary += this.quotation.itemList[index].sum;
            }
          }

          sub_total = summary;
          total_after_discount = this.quotation.discount_type == "BY_ITEM" ? sub_total : sub_total - discount_amt  ;
        } catch (ex) {
          console.warn("calculateSummary", ex);
        }
      });

      this.$nextTick(function(){
        
        if (this.quotation.discount_type == "BY_DOCUMENT") 
        {
          const inputByDuc = Number(this.quotation.num_discount);
          if (this.quotation.typeDiscount == "bath") 
          {
            this.quotation.sub_discount_type = "BATH";
            discount_amt = inputByDuc;
            total_after_discount = sub_total - discount_amt;
            total = sub_total - discount_amt;
          } 
          else if (this.quotation.typeDiscount == "percent") 
          {
            this.quotation.sub_discount_type = "PERCENT";

            discount_amt = (sub_total * inputByDuc) / 100;
            total_after_discount = sub_total - discount_amt;
            total = sub_total - discount_amt;
          }
        } 
        else if (this.quotation.discount_type == "BY_ITEM") 
        {
          total = sub_total;
          if (this.quotation.typeDiscount == "bath") 
          {
            this.quotation.sub_discount_type = "BATH";
          } 
          else if (this.quotation.typeDiscount == "percent") 
          {
            this.quotation.sub_discount_type = "PERCENT";
          }
        } 
        else {
          total = sub_total;
        }

        if (this.quotation.vat_type == "EXCLUDE_VAT") 
        {
          vat_amt = 0.07 * total;
          total = total + vat_amt;
        } 
        else {
          vat_amt = 0.07 * total;
        }

        this.quotation.sub_total = sub_total;
        this.quotation.discount_amt = discount_amt;
        this.quotation.discountAll = discountTotal;
        this.quotation.total_after_discount = total_after_discount
        this.quotation.vat_amt = vat_amt;
        this.quotation.total = total ;

        console.log('calculateSummary',{
           quotation :this.quotation
        })
      });
    },
    calculateAll() {
      this.sum = 0;
      this.quotation.itemList.forEach((item, index) => {
        this.sum += this.quotation.itemList[index].sum;
      });
      document.getElementById("total").value = this.sum;
    },
    calculateDiscount() {
      this.quotation.num_discount = 0;
      this.quotation.itemList.forEach((item) => {
        this.quotation.num_discount += Number(item.discount);
      });
      document.getElementById(
        "total_discount"
      ).value = this.quotation.num_discount;
    },
    calculateNetTotal() {
      this.sum = 0;
      this.quotation.itemList.forEach((item, index) => {
        this.sum += this.quotation.itemList[index].sum;
      });
      console.log(this.sum);
      // const ele = document.getElementById("net_total");
      // if (ele != null) ele.value = this.sum - this.quotation.num_discount;
      // console.log(ele.value );
    },
    resetNumDiscount() {
      this.quotation.num_discount = 0;
      this.calculateSummary()
    },

    searchDistrictAutoField() {
      console.log("dis", this.quotation.district);
      console.log("json", json);
      const district = this.quotation.district;
      const amphoe = this.quotation.amphoe;

      const result = json.filter((address) => {
        const regex_district = new RegExp(`^${district}`, "gi");
        const regex_amphoe = new RegExp(`^${amphoe}`, "gi");
        return (
          address.district.match(regex_district) &&
          address.amphoe.match(regex_amphoe)
        );
      });
      console.log("result", result);
      if (result.length == 1) {
        this.quotation.district = result[0].district;
        this.quotation.amphoe = result[0].amphoe;
        this.quotation.province = result[0].province;
        this.quotation.zipcode = result[0].zipcode;
      }
    },
    async input() {
      this.loading = true;
      this.error = false;

      let quotation_token = JSON.parse(localStorage.getItem("user_token"));
      // axios.get(url,headers)
      // axios.post(url,data,headers)

      console.log(this.quotation);

      axios.defaults.headers.common["Access-Control-Allow-Origin"] = "*";
      // for test
      //quotation_token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJkYXRhIjp7InBob25lTnVtYmVyIjoiMDEyMzQ1Njc4OSIsIm5hbWUiOiJqYW0iLCJ1c2VyVHlwZSI6ImFkbWluIiwidXNlcm5hbWUiOiJqYW0yNDEyIn0sImV4cCI6MTYxNTMxODI2MiwiaWF0IjoxNjE1Mjc1MDYyfQ.fN4q2Fns05caqlL0Mnf3hMrNi268nK-wp_fo9Tlgq5VFblK5qaGv1Z5IpjXgp5DbWcdp-0dwwNXHfOrNb4xnXy6hNsPI9A1BiPi-iHqGR8bdjBP0VVaDJvxt043jtL82YpMiN-_J-N0z5p5e7MLOqFqo3enXrKemt1EBpANRzC-Ngnu3DDVDab2Bf0vgEeSx-DuRQIajy0LHEVjwwjjOWBhAKwI5GPP7U2Ek96WUX2zELlSQmL24ipxSfK5wwb1VoQXCQ3bb9TUpCvvOnIU7jWIycJWNkdhui6dG_Bm_bQ2v5BRkm6Qe3XDm1fCFbh3HD6QvCuj0YNpp5-3feB-4WQ"
      await axios
        .get(`http://127.0.0.1:8000/api/get_quotation`, {
          headers: {
            Authorization: "bearer " + quotation_token,
          },
        })
        .then(async (response) => {
          console.log(response.data);
          // if (response.status === 200) {
          //   this.$router.push("/quotations");
          // }
          let status = true;
          await response.data.forEach((element) => {
            if (this.quotation.qt_code == element.qt_code) {
              status = false;
            }
          });
          if (status) {
            this.quotation.issue_date = await moment(
              this.quotation.issue_date
            ).format("YYYY-MM-DD").toString();

            this.quotation.delivery_date = await moment(
              this.quotation.delivery_date
            ).format("YYYY-MM-DD").toString();

            this.quotation.expire_date = await moment(
              this.quotation.expire_date
            ).format("YYYY-MM-DD").toString();

            // this.quotation.total = parseFloat(this.quotation.string_total) //แปลง string to int for insert
            // var match= this.quotation.string_total.match(/[0-9,.]*/);
            // if (match!==null) {
            //     this.quotation.total = parseFloat( match[0].replace(/,/g, '') ); // replace , thousands separator
            // }

            await axios
              .post(
                `http://127.0.0.1:8000/api/insertQuotation`,
                this.quotation,
                {
                  headers: {
                    Authorization: "bearer " + quotation_token,
                  },
                }
              )
              .then((response) => {
                console.log(response);
                if (response.status === 200) {
                  this.$toast.success("บันทึกใบเสนอราคาเรียบร้อย", {
                    showProgress: true,
                    timeOut: 1500, // infinity
                    closeable: false
                  });
                  const self = this;
                  setTimeout(function(){
                    self.$router.push("/quotations");
                  }, 1500);
                  // this.$nextTick(function(){
                  //   this.$router.push("/quotations");
                  // });
                  // this.$router.push("/quotations");
                  
                }
              });
          } else {
            // alert("เลขที่ใบเสนอราคานี้มีการใช้แล้ว")
            this.$toast.error("มีเลขที่ใบเสนอราคานี้แล้ว");
          }
        });
    },

    Addrow() {
      this.quotation.itemList.push({
        name: "",
        amount: 0,
        price: 0,
        discount: 0,
        sum: 0,
      });
      this.calculateAll();
    },

    Deleterow(index) {
      let obj = [];
      for (let i = 0; i < this.quotation.itemList.length; i++) {
        if (index !== i) {
          const element = this.quotation.itemList[i];
          obj.push(element);
        }
      }
      this.quotation.itemList = obj;
    },
    openModalAdd() {
  
      this.checkAddCustomer = 1;
      window.$("#modal-add").modal("show");
    },
    async checkCustomerCode() {
      let quotation_token = JSON.parse(localStorage.getItem("user_token"));

      await axios
        .get(`http://127.0.0.1:8000/api/get_all_customer`, {
          headers: {
            Authorization: "bearer " + quotation_token,
          },
        })
        .then(async (response) => {
          let status = true;
          await response.data.forEach((element) => {
            console.log("--------------");
            console.log(element.cm_code);
            console.log(this.quotation.codeCustomer);
            if (element.cm_code == this.quotation.codeCustomer) {
              status = false;
            }
          });
          if (status) {
            window.$("#modal-add").modal("hide");
          } else {
            this.$toast.error("มีรหัสลูกค้านี้แล้ว");
          }
        });
    },
    refreshCustomer() {
      this.checkAddCustomer = 0;
    },
    async getDropdownCustomer() {
      let user_token = JSON.parse(localStorage.getItem("user_token"));

      await axios
        .get(`http://127.0.0.1:8000/api/get_all_customer/`, {
          headers: {
            Authorization: "bearer " + user_token,
          },
        })
        .then((response) => (this.customerList = response.data));

      console.log(this.customerList);
    },
    validate(){
      let canSave = true 
      const arrCheck = [
        'qt_code',
        'saleman_name',
        'phone_no',
        'validity',
        'codeCustomer'
        
       
      ]
      console.log(this.$refs)  
      arrCheck.forEach((value)=>{
        if(this.$refs[value]){
          console.log(this.$refs[value])
          if(this.quotation[value] == ''){
            this.$refs[value].style.boxShadow = '0px 0px 5px -1px red'
            this.$refs[value].style.borderColor = 'red'
            if(canSave) canSave = false
          }else{
            this.$refs[value].style.boxShadow = 'none'
            this.$refs[value].style.borderColor = '#ced4da'
          }
        }
        
      })

      if(!canSave){
        this.$toast.error("กรูณากรอกข้อมูลให้ครบ");
      }

      console.log('itemList' , this.quotation.itemList)
      for(let i = 0 ; i < this.quotation.itemList.length ; i++){
        console.log('itemList ' + i, this.quotation.itemList[i])
        if(this.quotation.itemList[i].name == '' && this.quotation.itemList[i].amount == '' && this.quotation.itemList[i].price == '' && this.quotation.itemList[i].discount == '' ){
          
          canSave = false
          continue
        }
      }

      return canSave

    },
    validateEmail(email) {
      return this.reg.test(email);
    },

    validateInsertCustomer(){
      let canSave = false 
      let arrCheck = [
          'codeCustomer',
          'name_customer',
          'name_customer_or_company',
          'address',
          'district',
          'amphoe',
          'province',
          'zipcode',
          'qo_phone_no_customer',
          

        ]
      if( this.quotation.name_customer != '' && (this.quotation.email != '' &&  this.validateEmail(this.$refs['email'].value) )  && this.quotation.phone_no_customer != '' && this.quotation.cm_code != '' && this.quotation.district != '' && this.quotation.province != '' && this.quotation.amphoe != '' && this.quotation.zipcod != '' ){
        canSave = true 
        arrCheck.forEach((row)=>{
          if(this.$refs[row].value.trim() == ''){
            this.$refs[row].style.borderColor = 'none'
          }
        })

      }else{
       
        canSave = false 
        

        arrCheck.forEach((row)=>{
          if(this.$refs[row].value.trim() == ''){
            this.$refs[row].style.borderColor = 'red'
          } else {
            this.$refs[row].style.borderColor = '#ced4da'
          }
          console.log(row+' : '+this.$refs[row].value)
        })
       

        if (this.validateEmail(this.$refs['email'].value)){
          this.$refs['email'].style.borderColor = '#ced4da'
        } else {
          this.$refs['email'].style.borderColor = 'red'
        }
 

        this.$toast.error("กรูณากรอกข้อมูลให้ถูกต้อง");
      }

      return canSave
    }
  },
};
</script>

<style scoped>
#add_cus,
#add{
  color: white;
   background-color: #30467C  ;
   border-color: #30467C ;
   border: 1px solid;
}
#input{
   color: white;
   background-color: #30467C  ;
   border-color: #4861A0 ;
}
#cancle_cus{
  color: white;
   background-color:#dc3545 ;
   border-color: #dc3545 ;
   border: 1px solid;
}
#cancle {
  margin-right: 5px;
}
#form-sum {
  float: right;
  margin-top: 50px;
  width: 60%;
  margin-top: 58px;
}
.btn-add-customer {
  background-color: #30467C ;
  border-color: #30467C ;
  color: white;
}
.btn-refresh-customer {
  background-color: #bce2da;
  border-color: #808580;
  color: white;
}


</style>
