<template>
  <div class="container">

      <div style="text-align:center;" v-if="is_loading == false">
        <div class="loadingio-spinner-rolling-mpxey0ki0e">
        <div class="ldio-zt1msxxbvq">
          <div>

          </div>
        </div>
      </div>
      </div>
      <div v-else>
      <div class="ui-page-header"><h3><b>รายละเอียดใบเสนอราคา</b></h3></div>

      <div class="ui-page-body">
        <!-- <div class="row float-right" style="margin-top:-1rem;margin-right:0.3rem;">
          <button
            id="save"
            type="button"
            class="btn btn-secondary fa fa-print"
            style="float:right;" > พิมพ์ใบเสนอราคา </button></div> -->

        <form>
          <!--number of quotation-->
          <div class="form-row">
            <div class="form-group col-md-4">

              <h5 class="card-text"><b>เลขที่ใบเสนอราคา: </b>  {{ dataItem.qt_code}}</h5>
              
              <h5 style="margin-top: 25px;" class="card-text"><b>รายละเอียดลูกค้า:</b>  </h5>
  
              <!--customer no-->
              <div class="form-row" style="margin-top: 15px;">
                <div class="form-group col-md-12">
                  <!-- <label for="inputNumber"><b>รายละเอียดลูกค้า</b></label> -->
                  <div class="card " style="width: 25rem;">
                    <div class="card-body">
                      <p class="card-text"><b>รหัสลูกค้า:</b> {{ dataItem.cm_code }}</p>
                      <p class="card-text"><b>ชื่อลูกค้า:</b>  {{ dataItem.name_customer }}</p>
                      <p class="card-text"><b>ที่อยู่: </b>{{dataItem.address}} {{ dataItem.district }} {{ dataItem.amphoe }} {{ dataItem.province }} {{ dataItem.zipcode }}</p>
                      <p class="card-text"><b>เบอร์โทรติดต่อ:</b> {{ dataItem.phone_no_customer}}</p>
                      <p class="card-text"><b>อีเมล:</b> {{ dataItem.email}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4 ">
              <label for="inputNumber"><b>รายละเอียดใบเสนอราคา</b></label>
              <div class="card " style="width: 32rem;">
                <div class="card-body">
                  <p class="card-text" >
                    <b>วันที่ออกใบเสนอราคา: </b>{{ dataItem.issue_date }}
                  </p>
                  <p class="card-text" ><b>วันหมดอายุใบเสนอราคา: </b>{{ dataItem.expire_date }}</p>
                  <p class="card-text" ><b>วันกำหนดส่งของ:</b> {{ dataItem.delivery_date }}</p>
                  <p  v-if="
                      dataItem.credit == 'NONE'  " class="card-text" >
                      <b>เครดิต: </b> ไม่มีเครดิต
                                <b> ยืนราคาภายใน: </b> {{ dataItem.validity }}  <b> วัน</b></p>

                  <p  v-if="
                      dataItem.credit == 'manual'  " class="card-text" >
                      <b>เครดิต: </b> {{ dataItem.credit_value }} <b> วัน</b>
                                <b> ยืนราคาภายใน: </b> {{ dataItem.validity }}  <b> วัน</b></p>

                  <p v-if="
                      dataItem.credit != 'NONE' && dataItem.credit != 'manual'" class="card-text"  >
                                      <b>เครดิต: </b> {{ dataItem.credit }} <b> วัน</b> 
                                      <b> ยืนราคาภายใน: </b> {{ dataItem.validity }}  <b> วัน</b></p>
                  
                  <p class="card-text" ><b>พนักงานขาย:</b> {{ dataItem.saleman_name }}     &nbsp;     <b>ติดต่อ:</b> {{ dataItem.phone_no }}</p>
                
                  <p v-if="                                    
                  dataItem.discount_type == 'NONE' && 
                  dataItem.vat_type == 'NO_VAT' " class="card-text" ><b>ยอดรวม:</b> {{ Number(dataItem.sub_total ).toLocaleString() }} <b>บาท</b> 
                                        <b> ส่วนลด:</b> ไม่มีส่วนลด 
                                        <b> ภาษี:</b> ไม่มีภาษี</p>

                   <!-- มีส่วนลดรวม ไม่มีภาษ๊ -->
                  <p v-if="                                    
                  dataItem.discount_type == 'BY_DOCUMENT'  &&
                  dataItem.vat_type == 'NO_VAT' " class="card-text" ><b>ยอดรวม:</b> {{ Number(dataItem.sub_total ).toLocaleString() }} <b>บาท</b> 
                                        <b> ส่วนลด:</b> {{ Number(dataItem.discount_amt ).toLocaleString() }} <b> บาท </b> 
                                        <b> ภาษี:</b> ไม่มีภาษี</p>
                  <!-- ไม่มีส่วนลด รวมภาษ๊ -->
                  <p v-if="                                    
                  dataItem.discount_type == 'NONE'  &&
                  dataItem.vat_type == 'INCLUDE_VAT' " class="card-text" ><b>ยอดรวม:</b> {{ Number(dataItem.sub_total ).toLocaleString() }} <b>บาท</b> 
                                        <b> ส่วนลด:</b> ไม่มีส่วนลด 
                                        <b> รวมภาษี 7%</b> </p>
                  <!-- ไม่มีส่วนลด แยกภาษ๊ -->
                  <p v-if="                                    
                  dataItem.discount_type == 'NONE'  &&
                  dataItem.vat_type == 'EXCLUDE_VAT' " class="card-text" ><b>ยอดรวม:</b> {{ Number(dataItem.sub_total  ).toLocaleString() }} <b>บาท</b> 
                                        <b> ส่วนลด:</b> ไม่มีส่วนลด 
                                        <b> แยกภาษี 7%:</b>  {{ dataItem.vat_amt.toLocaleString(undefined, {minimumFractionDigits: 2}) }} <b>บาท</b> </p>
                  <!-- มีส่วนลดแบบรวม มีภาษีแบบแยก -->
                   <p v-if="                                    
                  dataItem.discount_type == 'BY_DOCUMENT'  &&
                  dataItem.vat_type == 'EXCLUDE_VAT' " class="card-text" ><b>ยอดรวม:</b> {{ Number(dataItem.sub_total  ).toLocaleString() }} <b>บาท</b> 
                                        <b> ส่วนลด:</b> {{ Number(dataItem.discount_amt ).toLocaleString() }} <b>บาท</b>
                                        <b> แยกภาษี 7%:</b>  {{ dataItem.vat_amt.toLocaleString(undefined, {minimumFractionDigits: 2}) }} <b>บาท</b> </p>
                                        
                  <!-- มีส่วนลดแบบรวม มีภาษีแบบรวม -->
                  <p v-if="                                    
                  dataItem.discount_type == 'BY_DOCUMENT'  &&
                  dataItem.vat_type == 'INCLUDE_VAT' " class="card-text" ><b>ยอดรวม:</b> {{ item.sub_total.toLocaleString(undefined, {minimumFractionDigits: 2}) }} <b>บาท</b> 
                                        <b> ส่วนลด:</b> {{ Number(dataItem.discount_amt ).toLocaleString() }} <b>บาท</b>
                                        <b> รวมภาษี 7%</b> </p> 
                  <!-- มีส่วนลดแบบแยก ไม่ภาษี -->
                  <p v-if="                                    
                  dataItem.vat_type == 'NO_VAT' && 
                  dataItem.discount_type == 'BY_ITEM' " class="card-text" ><b>ยอดรวม:</b> {{ Number(total ).toLocaleString() }} <b>บาท</b> 
                                        <b> ส่วนลด:</b> {{ Number(dataItem.discount_amt ).toLocaleString() }} <b>บาท</b>
                                        <b> ภาษี:</b> ไม่มีภาษี</p>
                   <!-- มีส่วนลดแบบแยก มีภาษีแบบรวม -->
                  <p v-if="                                    
                  dataItem.vat_type == 'INCLUDE_VAT' && 
                  dataItem.discount_type == 'BY_ITEM' " class="card-text" ><b>ยอดรวม:</b> {{ Number(total ).toLocaleString() }} <b>บาท</b> 
                                        <b> ส่วนลด:</b> {{ Number(dataItem.discount_amt ).toLocaleString() }} <b>บาท</b>
                                        <b> รวมภาษี 7%</b></p>

                  <!-- มีส่วนลดแบบแยก มีภาษีแบบแยก -->
                  <p v-if="                                    
                  dataItem.vat_type == 'EXCLUDE_VAT' && 
                  dataItem.discount_type == 'BY_ITEM' " class="card-text" ><b>ยอดรวม:</b> {{ Number(total ).toLocaleString() }} <b>บาท</b> 
                                        <b> ส่วนลด:</b> {{ Number(dataItem.discount_amt ).toLocaleString() }} <b>บาท</b>
                                        <b> แยกภาษี 7%:</b> {{ dataItem.vat_amt.toLocaleString(undefined, {minimumFractionDigits: 2}) }} <b>บาท</b> </p>

                   
                                        
                  <h4 class="card-text" v-if="                                    
                  dataItem.discount_type == 'NONE' && 
                  dataItem.vat_type == 'NO_VAT' "><b>ยอดรวมทั้งสิ้น:</b>  {{ item.sub_total.toLocaleString(undefined, {minimumFractionDigits: 2}) }} <b>บาท</b></h4> 
                  <h4 class="card-text" v-else><b>ยอดรวมทั้งสิ้น:</b>  {{ dataItem.total.toLocaleString(undefined, {minimumFractionDigits: 2}) }} <b>บาท</b></h4>
                </div>
              </div>  
            </div>
          </div>

          <table class="table table-hover">
            <thead class="thead-dark">
              <tr class="text-center">
                <th style="width:10px;" scope="col">ลำดับ</th>
                <th style="width:300px;" scope="col">รายการสินค้า</th>
                <th style="width:200px;" scope="col">จำนวน</th>
                <th style="width:200px;" scope="col">ราคาต่อหน่วย</th>
                <!-- <th scope="col" v-if="quotation.discount_type == 'BY_ITEM'">ส่วนลด</th> -->
                <th scope="col">จำนวนเงินรวม (บาท)</th>
              </tr>
            </thead>
            <tbody id="table">
              <tr
                v-for="(item, index) in  quotation.itemsList"
                :key="index"
                style="text-align: center; vertical-align: middle;"
              >
                <th style="width:20px;text-align:center;">{{ index + 1 }}</th>
                <td style="text-align:left;">{{ item.name }}</td>
                <td >{{ Number(item.amount).toLocaleString() }}</td> 
                <td style="text-align:right;">{{ Number(item.price ).toLocaleString() }}</td>  
                <!-- <td style="text-align:right;" scope="col" v-if="item.discount_type == 'BY_ITEM'">
                  {{ Number(item.discount_amt).toLocaleString() }}
                </td> -->
                <td style="text-align:right;">{{ Number(item.sum ).toLocaleString() }}</td> 
              </tr>
            </tbody>
          </table>
        </form>

        <!--buttoin-->

        <router-link
          :to="`/quotations`"
          id="cancle"
          type="button"
          class="btn btn-secondary"
          style="float:right;"
          >กลับ</router-link
        >
      </div>

      <div class="ui-page-footer"></div>
        </div>
    
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      is_loading : false,
      total: 0,
      item : {},
      dataItem:{},
      quotation: {
        data: [],
        itemsList: [

        ],
      },
   
      
    };
  },


  async mounted() {
    let user_token = JSON.parse(localStorage.getItem("user_token"));
     
    await axios
      .get(`http://127.0.0.1:8000/api/quotation/`+this.$route.params.id, {
        headers: {
          Authorization: "bearer " + user_token,
        },
      })
      .then((response) => {
        
        if (response.status === 200) {
          this.dataItem = response.data;
  //  console.log( this.dataItem.sub_total)
          this.total = this.dataItem.sub_total+this.dataItem.discount_amt
          console.log(this.total)
                
        }
      })
      .catch((error) => {
        console.log(error);
      });

    await axios.get(
      `http://127.0.0.1:8000/api/item/`+this.$route.params.id,
      {
        headers: {
          Authorization: "bearer " + user_token,
        },
      }) .then((response) => {
        
        if (response.status === 200) {
          this.quotation.itemsList = response.data;
          this.is_loading = true
        }
      })
     await axios.get(
      `http://127.0.0.1:8000/api/user_data/` + this.$route.params.id,
      {
        headers: {
          Authorization: "bearer " + user_token,
        },
      }
    ).then((response) => {
        // console.log(response);
        if (response.status === 200) {
          this.item = response.data;
        }
      })
      await axios.get(
      `http://127.0.0.1:8000/api/customer/` + this.$route.params.id,
      {
        headers: {
          Authorization: "bearer " + user_token,
        },
      }
    );
    // var data =  response.data;
    // console.log(customer);
    // console.log(data);
    // console.log(userdata);
  },
};

</script>

<style scoped>
#cancle {
  margin-right: 5px;
}
#form-sum {
  float: right;
  margin-top: 50px;
  width: 60%;
  margin-top: 58px;
}
table, th, td {
  border: 1px solid #EAEDED;
}

@keyframes ldio-zt1msxxbvq {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-zt1msxxbvq div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #93dbe9;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-zt1msxxbvq div {
  animation: ldio-zt1msxxbvq 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-mpxey0ki0e {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-zt1msxxbvq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zt1msxxbvq div { box-sizing: content-box; }
/* generated by https://loading.io/ */
</style>
