<template>
  <div class="container">
     <div style="text-align:center;" v-if="is_loading == false">
        <div class="loadingio-spinner-rolling-mpxey0ki0e">
        <div class="ldio-zt1msxxbvq">
          <div>

          </div>
        </div>
      </div>
      </div>
      <div v-else>
         <Toasts
      :rtl="true"
      :max-messages="7"
      :time-out="5000"
      :closeable="false"
    ></Toasts>
    <div class="ui-page-header">แก้ไขใบเสนอราคา</div>

    <div class="ui-page-body">
      <form class="needs-validation">
        <!--number of quotation-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputNumber"
              >เลขที่ใบเสนอราคา</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="QA200713-001"
              v-model="quotation.qt_code"
              disabled
            />
          </div>
          <div class="form-group col-md-4">
            <label
              >ชื่อ - นามสกุล พนักงานขาย<span class="ui-required"
                >*</span
              ></label
            >
            <input
              type="text"
              id="salemanName"
              class="form-control"
              v-model="quotation.saleman_name"
              required
            />
          </div>
          <div class="form-group col-md-4">
            <label>เบอร์โทรศัพท์<span class="ui-required">*</span></label>
            <input
              type="text"
              class="form-control"
              v-model="quotation.phone_no"
            />
          </div>
        </div>
        <!--date of Expire quotation-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="issueDate"
              >วันที่ออกใบเสนอราคา</label
            >
            <input
              v-model="quotation.issue_date"
              class="form-control"
              id="issueDate"
              name="issueDate"
              disabled
            />
            <!-- <Datepicker
              v-model="quotation.issue_date"
              input-class="form-control"
              format="dd/MM/yyyy"
            ></Datepicker> -->
          </div>
          <div class="form-group col-md-4">
            <label for="issueDate"
              >วันหมดอายุใบเสนอราคา<span class="ui-required">*</span></label
            >
            <!-- <input
              type="date"
              v-model="quotation.expire_date"
              class="form-control"
              id="expireDate"
              name="expireDate"
            /> -->
            <Datepicker
              v-model="quotation.expire_date"
              input-class="form-control"
              format="dd/MM/yyyy"
            ></Datepicker>
          </div>
          <div class="form-group col-md-4">
            <label for="issueDate"
              >วันกำหนดส่งของ<span class="ui-required">*</span></label
            >
            <!-- <input
              type="date"
              v-model="quotation.delivery_date"
              class="form-control"
              id="deliveryDate"
              name="issueDate"
            /> -->
            <Datepicker
              v-model="quotation.delivery_date"
              input-class="form-control"
              format="dd/MM/yyyy"
            ></Datepicker>
          </div>
        </div>
        <!--date of Product delivery-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>ยืนราคาภายใน (วัน)<span class="ui-required">*</span></label>
            <input
              type="text"
              id="validity"
              class="form-control"
              v-model="quotation.validity"
            />
          </div>
          <div class="form-group col-md-4">
            <label>ลูกค้า<span class="ui-required">*</span></label>
            <div class="input-group ">
              <select
                id="credit"
                class="form-control"
                name="credit"
                v-model="quotation.codeCustomer"
                v-if="checkAddCustomer == 0"
              >
                <option
                  v-for="value in customerList"
                  :key="value.customer_id"
                  :value="value.customer_id"
                >
                  {{ value.name_customer }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-12"><h5>เงื่อนไขราคา</h5></div>

          <div class="form-group col-md-4">
            <label for="inputCredit"
              >เครดิต<span class="ui-required">*</span></label
            >
            <select
              id="credit"
              class="form-control"
              name="credit"
              v-model="quotation.credit"
            >
              <option value="NONE">ไม่มีเครดิต</option>
              <option value="7">7 วัน</option>
              <option value="15">15 วัน</option>
              <option value="30">30 วัน</option>
              <option value="45">45 วัน</option>
              <option value="manual">ระบุเอง</option>
            </select>
           <div class="py-2" v-if="quotation.credit == 'manual'">
              <div class="form-group">
                
                <input
                  type="text"
                  class="form-control"
                  name="cradit_value"
                  v-model="quotation.credit_value"
                />
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="InputDiscount"
              >ส่วนลด<span class="ui-required">*</span></label
            >
            <select
              id="discount"
              class="form-control"
              name="state"
              @change="calculateSummary()"
              v-model="quotation.discount_type"
            >
              <option value="NONE">ไม่มีส่วนลด</option>
              <option value="BY_DOCUMENT">ส่วนลดรวม</option>
              <option value="BY_ITEM">ส่วนลดแยก</option>
            </select>
            <div
              class="py-2"
              v-if="
                quotation.discount_type == 'BY_DOCUMENT' ||
                  quotation.discount_type == 'BY_ITEM'
              "
            >
              <div class="row">
                <div class="col-4 pr-0">
                  <span style="font-weight: bold;">รูปแบบส่วนลด</span>
                </div>
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      @click="resetNumDiscount()"
                      @change="calculateSummary()"
                      v-model="quotation.typeDiscount"
                      name="typeDiscount"
                      id="typeBath"
                      value="bath"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="typeBath"
                      >ส่วนลดเป็นจำนวนเงิน (บาท)</label
                    >
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      @click="resetNumDiscount()"
                      @change="calculateSummary()"
                      v-model="quotation.typeDiscount"
                      name="typeDiscount"
                      id="typePercent"
                      value="percent"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="typePercent"
                      >ส่วนลดเป็นเปอร์เซ็นต์ (%)</label
                    >
                  </div>
                </div>
              </div>
              <input
                v-if="quotation.discount_type == 'BY_DOCUMENT'"
                type="number"
                class="form-control my-1"
                name="discount"
                @input="calculateSummary()"
                v-model="quotation.num_discount"
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="InputTax"
              >ภาษีมูลค่าเพิ่ม<span class="ui-required">*</span></label
            >
            <select
              id="tax"
              class="form-control"
              name="tax"
              v-model="quotation.vat_type"
              @input="calculateSummary()"
            >
              <option value="NO_VAT">ไม่มีภาษี</option>
              <option value="EXCLUDE_VAT">แยกภาษี 7%</option>
              <option value="INCLUDE_VAT">รวมภาษี 7%</option>
            </select>
            <div></div>
          </div>
        </div>
      </form>

      <br />
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">ลำดับ</th>
            <th scope="col">รายการสินค้า</th>
            <th scope="col">จำนวน</th>
            <th scope="col">ราคาต่อหน่วย</th>
            <th scope="col" v-if="quotation.discount_type == 'BY_ITEM' && quotation.typeDiscount == 'bath'">
              ส่วนลด
            </th>
            <th scope="col" v-if="quotation.discount_type == 'BY_ITEM' && quotation.typeDiscount == 'percent'">
              ส่วนลด %
            </th>

            <th scope="col">จำนวนเงินรวม</th>
            <th scope="col">
              <button
                id="add"
                type="button"
                data-toggle="tooltip"
                title="แก้ไขรายการสินค้า"
                data-placement="top"
                class="btn btn-success"
                @click="Addrow(), calculateNetTotal()"
              >
                เพิ่ม
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="text-center" id="table">
          <tr v-for="(item, index) in quotation.itemList" :key="index + '_' +  quotation.typeDiscount">

            <td>{{ index + 1 }}</td>
            <td>
              <input
                type="text"
                name="list"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].name"
              />
            </td>
            <td style="width:180px">
              <input
                type="number"
                name="amount"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].amount"
              />
            </td>
            <td style="width:180px">
              <!-- <input type="number" name="price" @input="calculateSummary()" class="form-control text-center" v-model="itemList[index].price" /> -->
              <input
                type="number"
                name="price"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].price"
              />
            </td>
            <td style="width:180px" v-if="quotation.discount_type == 'BY_ITEM'">
              <input
                type="number"
                name="discount"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].discount"
              />
            </td>
            <td style="width:180px">
              <input
                type="text"
                name="sum"
                class="form-control text-center"
                v-model="quotation.itemList[index].sum"
                disabled
              />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger glyphicon glyphicon-remove row-remove"
                @click="Deleterow(index), calculateSummary()"
              >
                ลบ
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" style="margin: 0;">
        <div class="col-6">
          <!--note-->
          <!-- <div class="form-group" id="note">
            <label>หมายเหตุ</label>
            <textarea
              class="form-control"
              id="note"
              name="note"
              rows="3"
              style="width:60%;"
              v-model="quotation.note"
            ></textarea>
          </div> -->
        </div>
        <div class="col-6">
          <!--sum-->
          <div class="form-row ">
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">รวม</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >รวม</label
              >
              <input
                id="total"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                v-model="quotation.sub_total"
                disabled
              />
            </div>
          </div>

          <div
            class="form-row"
            v-if="
              quotation.discount_type == 'BY_DOCUMENT' ||
                quotation.discount_type == 'BY_ITEM'
            "
          >
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ส่วนลดรวม</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >ส่วนลดรวม</label
              >
              <input
                id="total_discount"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                v-model="quotation.discount_amt"
                disabled
              />
            </div>
          </div>

          <div
            class="form-row"
            v-if="
              (quotation.vat_type == 'EXCLUDE_VAT' &&
                quotation.discount_type == 'BY_DOCUMENT') ||
                quotation.discount_type == 'BY_ITEM'
            "
          >
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >ยอดรวมหลังหักส่วนลด</label
              >
              <input
                id="vat_value"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                :value="quotation.total_after_discount.toFixed(2)"
                disabled
              />
            </div>
          </div>

          <div class="form-row" v-if="quotation.vat_type == 'EXCLUDE_VAT'">
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ยอดรวมสุทธิ</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >แยกภาษี 7%</label
              >
              <input
                id="vat_value"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                :value="quotation.vat_amt.toFixed(2)"
                disabled
              />
            </div>
          </div>

          <div
            class="form-row"
            v-if="
              quotation.discount_type == 'BY_DOCUMENT' ||
                quotation.discount_type == 'BY_ITEM' ||
                quotation.vat_type == 'EXCLUDE_VAT'
            "
          >
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ยอดรวมสุทธิ</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >ยอดรวมสุทธิ</label
              >
              <input
                id="net_total"
                type="number"
                class="form-control my-1 col-4"
                :value="quotation.total.toFixed(2)"
                style="width:50%;"
                
                disabled
              />
            </div>
          </div>

          <div class="form-row" v-if="quotation.vat_type == 'INCLUDE_VAT'">
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ยอดรวมสุทธิ</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >รวมภาษี 7%</label
              >
              <input
                id="net_total"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                :value="quotation.vat_amt.toFixed(2)"
                disabled
              />
            </div>
          </div>
        </div>
      </div>

      <!--button-->
      <br />
      <div class="form-row float-right">
        <a
          @click="input()"
          id="input"
          style="float:left;margin-right: 10px; "
          type="button"
          class="btn btn-success"
          >ยืนยัน</a
        >
        <!-- <router-link :to="`adds/bills`" id="cancle" type="button" class="btn btn-secondary" style="float:right;">ยืนยัน</router-link> -->
        <router-link
          :to="`/quotations`"
          id="cancle"
          type="button"
          class="btn btn-danger"
          style="float:right;"
          >ยกเลิก</router-link
        >
      </div>
    </div>
    <div class="ui-page-footer"></div>
      </div>
  </div>
</template>

<script>
import axios from "axios";
// import { required } from 'vuelidate/lib/validators';
import json from "./Thailand.json";
import Datepicker from "vuejs-datepicker";
import moment from "moment";

export default {
  name: "Edit",
  components: {
    Datepicker,
  },
  data() {
    return {
      is_loading : false,
      quotation: {
        id: 0,
        qt_code: "",

        issue_date: "",
        expire_date: "",
        delivery_date: "",
        saleman_name: "",
        phone_no: "",
        credit: "",
        validity: "",
        vat_type: "NO_VAT",
        vat_amt: 0,
        discount_type: "NONE",
        sub_discount_type: "",
        discount_amt: 0,
        sub_total: 0,
        total: 0,
        num_discount: 0,
        typeDiscount: "bath",
        // string_total : "",
        name_customer: "",
        email: "",
        phone_no_customer: "",
        address: "",
        district: "",
        province: "",
        amphoe: "",
        zipcode: "",

        note: "",

        codeCustomer: "",

        status: "wait",

        itemList: [],
      },
      customerList: [],
      checkAddCustomer: 0, //0 = เลือกจาก Dropdown, 1 = แก้ไขเอง
      sum: 0,
      discount: 0,
      // currenttime: "",
    };
  },
  async mounted() {
    // this.quotation.issue_date = new Date().toISOString().slice(0, 10);
    // this.quotation.expire_date = new Date().toISOString().slice(0, 10);
    // this.quotation.delivery_date = new Date().toISOString().slice(0, 10);

    let user_token = JSON.parse(localStorage.getItem("user_token"));

    await axios
      .get(`http://127.0.0.1:8000/api/quotation/` + this.$route.params.id, {
        headers: {
          Authorization: "bearer " + user_token,
        },
      })
      .then((response) => {
        if (response.status === 200) {
          var dataItem = response.data;
          this.quotation.saleman_name = dataItem.saleman_name;
          this.quotation.id = Number(dataItem.quotation_id);
          this.quotation.qt_code = dataItem.qt_code;
          this.quotation.phone_no = dataItem.phone_no;
          this.quotation.validity = dataItem.validity;
          this.quotation.issue_date =
            dataItem.issue_date.split("-")[0] +
            "/" +
            dataItem.issue_date.split("-")[1] +
            "/" +
            dataItem.issue_date.split("-")[2];

          this.quotation.expire_date =
            dataItem.expire_date.split("-")[2] +
            "/" +
            dataItem.expire_date.split("-")[1] +
            "/" +
            dataItem.expire_date.split("-")[0];
          this.quotation.delivery_date =
            dataItem.delivery_date.split("-")[2] +
            "/" +
            dataItem.delivery_date.split("-")[1] +
            "/" +
            dataItem.delivery_date.split("-")[0];
          this.quotation.credit = dataItem.credit;
          this.quotation.credit_value = dataItem.credit_value;
          this.quotation.discount_type = dataItem.discount_type;
          this.quotation.vat_type = dataItem.vat_type;
          this.quotation.num_discount = dataItem.num_discount;
          this.quotation.codeCustomer = dataItem.quotation_customer_id;

          if (dataItem.sub_discount_type == "BATH") {
            this.quotation.typeDiscount = "bath";
          } else {
            this.quotation.typeDiscount = "percent";
          }
          this.is_loading = true
          console.log(this.dataItem);
        }
      })
      .catch((error) => {
        console.log(error);
      });

    await axios
      .get(`http://127.0.0.1:8000/api/item/` + this.$route.params.id, {
        headers: {
          Authorization: "bearer " + user_token,
        },
      })
      .then((response) => {
        if (response.status === 200) {
          this.quotation.itemList = response.data;
          this.is_loading = true
          console.log(this.quotation);
        }
      });
    this.calculateSummary();
    // var data =  response.data;
    // console.log(customer);
    // console.log(data);
    // console.log(userdata);
  },
  created() {
    let quotation_token = JSON.parse(localStorage.getItem("user_token"));
    console.log("Token : " + quotation_token);

    this.getDropdownCustomer();
  },
  methods: {
    calculateSummary() {
      console.log("calculateSummary");
      console.log('discount_type' , this.quotation.discount_type )
      let summary = 0;
      let discountTotal = 0;
       let sub_total = 0, total = 0, discount_amt = 0, vat_amt = 0, total_after_discount = 0;
      this.quotation.itemList.forEach((item, index) => {
        try {
          if (item.name != "" && item.amount != "" && item.price != "") {
            if (this.quotation.discount_type == "BY_ITEM") {
              if (this.quotation.typeDiscount == "bath") {
                discountTotal += Number(item.discount);
                this.quotation.itemList[index].sum =
                 item.amount * item.price - item.discount;
                summary += this.quotation.itemList[index].sum;
                discount_amt = discountTotal;
              } else if (this.quotation.typeDiscount == "percent") {
                this.quotation.itemList[index].sum =
                  item.amount * item.price -
                  (item.amount * item.price * item.discount) / 100;
                summary += this.quotation.itemList[index].sum;
                discountTotal +=
                  (item.amount * item.price * item.discount) / 100;
                   discount_amt = Number(discountTotal);
              }
            } else {
              discountTotal += item.discount;
              this.quotation.itemList[index].sum =
                item.amount * item.price - item.discount;
              summary += this.quotation.itemList[index].sum;
            }
          }
           sub_total = summary;
           total_after_discount = this.quotation.discount_type == "BY_ITEM" ? 
           sub_total : sub_total - discount_amt  ;

        } catch (ex) {
          console.warn("calculateSummary", ex);
        }
      });

      this.$nextTick(function(){
        
        if (this.quotation.discount_type == "BY_DOCUMENT") 
        {
          const inputByDuc = Number(this.quotation.num_discount);
          if (this.quotation.typeDiscount == "bath") 
          {
            this.quotation.sub_discount_type = "BATH";
            discount_amt = inputByDuc;
            total_after_discount = sub_total - discount_amt;
            total = sub_total - discount_amt;
          } 
          else if (this.quotation.typeDiscount == "percent") 
          {
            this.quotation.sub_discount_type = "PERCENT";

            discount_amt = (sub_total * inputByDuc) / 100;
            total_after_discount = sub_total - discount_amt;
            total = sub_total - discount_amt;
          }
        } 
        else if (this.quotation.discount_type == "BY_ITEM") 
        {
          total = sub_total;
          if (this.quotation.typeDiscount == "bath") 
          {
            this.quotation.sub_discount_type = "BATH";
          } 
          else if (this.quotation.typeDiscount == "percent") 
          {
            this.quotation.sub_discount_type = "PERCENT";
          }
        } 
        else {
          total = sub_total;

        }

        if (this.quotation.vat_type == "EXCLUDE_VAT") 
        {
          vat_amt = 0.07 * total;
          total = total + vat_amt;
        } 
        else {
          vat_amt = 0.07 * total;
        }

        this.quotation.sub_total = sub_total;
        this.quotation.discount_amt = discount_amt;
        this.quotation.discountAll = discountTotal;
        this.quotation.total_after_discount = total_after_discount
        this.quotation.vat_amt = vat_amt;
        this.quotation.total = total;
        
         console.log('calculateSummary',{
           quotation :this.quotation
         })

      });
    },
    resetNumDiscount() {
      this.quotation.num_discount = 0;
      this.calculateSummary()
    },
    calculateAll() {
      this.sum = 0;
      this.quotation.itemList.forEach((item, index) => {
        this.sum += this.quotation.itemList[index].sum;
      });
      document.getElementById("total").value = this.sum;
    },
    calculateDiscount() {
      this.discount = 0;
      this.quotation.itemList.forEach((item) => {
        this.discount += Number(item.discount);
      });
      document.getElementById("total_discount").value = this.discount;
    },
    calculateNetTotal() {
      this.sum = 0;
      this.quotation.itemList.forEach((item, index) => {
        this.sum += this.quotation.itemList[index].sum;
      });

      const ele = document.getElementById("net_total");
      if (ele != null) ele.value = this.sum - this.discount;
    },

    searchDistrictAutoField() {
      console.log("dis", this.quotation.district);
      console.log("json", json);
      const district = this.quotation.district;
      const amphoe = this.quotation.amphoe;

      const result = json.filter((address) => {
        const regex_district = new RegExp(`^${district}`, "gi");
        const regex_amphoe = new RegExp(`^${amphoe}`, "gi");
        return (
          address.district.match(regex_district) &&
          address.amphoe.match(regex_amphoe)
        );
      });
      console.log("result", result);
      if (result.length == 1) {
        this.quotation.district = result[0].district;
        this.quotation.amphoe = result[0].amphoe;
        this.quotation.province = result[0].province;
        this.quotation.zipcode = result[0].zipcode;
      }
    },

    async input() {
      this.loading = true;
      this.error = false;
      let quotation_token = JSON.parse(localStorage.getItem("user_token"));
      // axios.get(url,headers)
      // axios.post(url,data,headers)
      this.quotation.id = this.$route.params.id;

      this.quotation.issue_date = await moment(this.quotation.issue_date)
        .format("YYYY-MM-DD")
        .toString();

      this.quotation.delivery_date = await moment(this.quotation.delivery_date)
        .format("YYYY-MM-DD")
        .toString();

      this.quotation.expire_date = await moment(this.quotation.expire_date)
        .format("YYYY-MM-DD")
        .toString();


      // var match= this.quotation.string_total.match(/[0-9,.]*/);
      // if (match!==null) {
      //     this.quotation.total = parseFloat( match[0].replace(/,/g, '') ); // replace , thousands separator
      // }

      // console.log(this.quotation.total )
      // console.log(this.quotation.string_total)
      await axios
        .post(`http://127.0.0.1:8000/api/update_quotation`, this.quotation, {
          headers: {
            Authorization: "bearer " + quotation_token,
          },
        })
        .then(async () => {
          // console.log(response);
          // if (response.status === 200) {
          //   this.$router.push("/quotations");
          // }
          await axios
            .get(`http://127.0.0.1:8000/api/delete_item/` + this.quotation.id, {
              headers: {
                Authorization: "bearer " + quotation_token,
              },
            })
            .then(async () => {
              // this.quotation.total = parseFloat(this.quotation.string_total) //แปลง string to int for insert

              await this.quotation.itemList.forEach(async (element) => {
                console.log(element);
                element.amount = Number(element.amount);
                element.price = Number(element.price);
                element.discount = Number(element.discount);
                element.sum = Number(element.sum);
                
             
                const res = await axios.post(
                  `http://127.0.0.1:8000/api/insert_item`,
                  element,
                  {
                    headers: {
                      Authorization: "bearer " + quotation_token,
                    },
                  }
                );
                console.log(res);
                this.$toast.success("แก้ไขใบเสนอราคาเรียบร้อย");
                this.$router.push("/quotations");
              });
            });
        });
    },

    Addrow() {
      this.quotation.itemList.push({
        name: "",
        amount: 0,
        price: 0,
        discount: 0,
        sum: 0,
        item_quotation_id: this.quotation.id,
      });
      this.calculateAll();
    },

    Deleterow(index) {
      let obj = [];
      for (let i = 0; i < this.quotation.itemList.length; i++) {
        if (index !== i) {
          const element = this.quotation.itemList[i];
          obj.push(element);
        }
      }
      this.quotation.itemList = obj;
    },
    openModalAdd() {
      // e.preventDefault();
      // $('#modal-add').modal('show');
      // $('#modal-add').on('hidden.bs.modal', (e) => {
      //     e.preventDefault();

      // })
      this.checkAddCustomer = 1;
      window.$("#modal-add").modal("show");
    },
    refreshCustomer() {
      this.checkAddCustomer = 0;
    },
    async getDropdownCustomer() {
      let user_token = JSON.parse(localStorage.getItem("user_token"));

      await axios
        .get(`http://127.0.0.1:8000/api/get_all_customer/`, {
          headers: {
            Authorization: "bearer " + user_token,
          },
        })
        .then((response) => (this.customerList = response.data));
    },
  },
};
</script>

<style scoped>
#cancle {
  margin-right: 5px;
}
#add{
  color: white;
   background-color: #30467C  ;
   border-color: #30467C ;
   border: 1px solid;
}
#input{
  color: white;
   background-color: #30467C  ;
   border-color: #4861A0 ;
}
#form-sum {
  float: right;
  margin-top: 50px;
  width: 60%;
  margin-top: 58px;
}
.btn-add-customer {
  background-color: #00ff33;
  border-color: #00ff33;
  color: white;
}
@keyframes ldio-zt1msxxbvq {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-zt1msxxbvq div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #93dbe9;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-zt1msxxbvq div {
  animation: ldio-zt1msxxbvq 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-mpxey0ki0e {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-zt1msxxbvq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zt1msxxbvq div { box-sizing: content-box; }
/* generated by https://loading.io/ */
</style>
