<template>
  <div class="container">
      <div class="ui-app-brand">
        <img src="/image/goldfish.png" class="ui-app-logo" />
        PlaThong.app
      </div>
    <div>
      <div class="ui-login-container">
        <div style="margin-top : 0">
          <label for="email">อีเมล</label>
          <input
            id="email"
            name="email"
            type="email"
            class="form-control"
            placeholder="Enter email"
            v-model="forgotPasswordRequest.email"
            max="50"
            maxlength="50"
          />
          <div class="invalid-feedback"></div>
        </div>
        <div>
          <a
            href="javascript:void(0)"
            @click="sendForgotPassword()"
            class="btn btn-primary"
            style="width : 100%;"
          >
            <span v-if="!loading">ส่งคำขอตั้งรหัสผ่านใหม่</span>
            <div v-else>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span>Loading...</span>
            </div>
          </a>
        </div>
        <div v-if="error" class="alert alert-danger">อีเมลไม่ถูกต้อง โปรดเช็คอีกครั้ง</div>
        <div v-if="success" class="alert alert-success">กรุณาตรวจสอบที่อีเมล</div>
        <div class="text-center">
          ย้อนกลับสู่ |
          <a href="/auth/login">เข้าใช้ระบบ</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import SendSuccess from "./SendSuccess";
// import axios from "axios";

export default {
  // components: {
  //   SendSuccess,
  // },
  data: () => {
    return {
      loading: false,
      error: false,
      success: false,
      forgotPasswordRequest: {
        email: "",
      },
    };
  },
  // methods: {
  //   sendForgotPassword() {
  //     this.loading = true;
  //     this.error = false;
  //     axios
  //       .post('https://qt.emeraldtech.co/api/auth/forgotPassword', this.forgotPasswordRequest)
  //       .then((response) => {
  //         this.loading = false;
  //         this.success = true;
  //       })
  //       // .catch((e) => {
  //       //   this.loading = false;
  //       //   this.error = true;
  //       // });
  //   },
  // },
};
</script>

<style scoped>
.ui-app-brand {
  line-height: 65px;
  height: 65px;
  font-size: 1.25rem;
  position: absolute;
  left: 10px;
  top: 10px;
}
.ui-app-logo {
  height: 65px;
  border: solid 1px #ffc107;
  float: left;
  margin-right: 1rem;
  padding: 5px;
  border-radius: 5px;
}
strong {
  text-align: justify;
}

.container {
  max-width: 450px;
  margin-top: 50px;
}

.ui-login-container > div {
  margin-top: 1.3rem;
}

.ui-login-container {
  padding: 1.5rem;
  border-radius: 3px;
  border: solid 1px #a2a2a273;
}

h3 {
  margin-bottom: 1rem;

  font-weight: bold;
}



.spinner-border {
  margin-right: 0.5rem;
}

img {
  width: 100px;
  position: relative;
  left: 50%;
  margin-left: -50px;
  margin-bottom: 1.5rem;
}

@media (max-width: 500px) {
  .container {
    margin-top: 8%;
  }

  h3 {
    font-size: 1.5rem;
  }

  .ui-login-container {
    padding: 1rem;
  }

  img {
    width: 70px;
    margin-left: -35px;
  }

  p {
    font-size: 90%;
  }
}
</style>


