<template>
  <div id="app">
    <div class="ui-toolbar">
      <div class="ui-app-brand">
        <img src="/image/goldfish.png" class="ui-app-logo" />
        PlaThong.app
      </div>
    </div>

    <div class="container">
      <img
        src="../assets/Logoem.png"
        style="margin-top: 7rem"
        width="480"
        height="185"
      /><br /><br />
      <h3 class="text-center">ระบบจัดเก็บใบเสนอราคา</h3>
      <br />
      <div>
        <label for="username" style="display: inline-flex"
          ><span style="width: 15vw; margin: auto">บัญชีผู้ใช้งาน </span>
          <input
            id="username"
            name="username"
            type="text"
            placeholder="Enter username"
            class="form-control"
            max="50"
            maxlength="50"
            v-model="loginRequest.username"
        /></label>
      </div>
      <div>
        <label for="password" style="display: inline-flex; margin-top: 1rem"
          ><span style="width: 15vw; margin: auto">รหัสผ่าน</span>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Enter password"
            class="form-control"
            @keyup.enter="doLogin()"
            max="50"
            maxlength="50"
            v-model="loginRequest.password"
        /></label>
      </div>
      <div style="text-align:center;">
        <span v-if="errorMessage != ''" style="color:red;left: 26px; position: relative;">
          {{errorMessage}}
        </span>
      </div>
      <div>
        <button
          @click="doLogin()"
          type="button"
          style="margin-top: 1rem"
          class="btn btn-outline-primary"
        >
          <span v-if="!loading">เข้าสู่ระบบ</span>
          <div v-else>
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            <span>Loading...</span>
          </div>
        </button>
      </div>
      <!-- <router-link :to="/dashboard" type="button" style="margin-top:1rem;" class="btn btn-outline-primary">เข้าสู่ระบบ</router-link> -->
      <div style="margin-top: 1rem">
        <a class="reset" href="./ForgotPassword">ลืมรหัสผ่าน?</a>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => {
    return {
      loading: false,
      error: false,
      loginRequest: {
        username: "",
        password: "",
      },
      errorMessage: "",
    };
  },
  methods: {
    doLogin() {
      this.loading = true;

      this.error = false;
      let user_token = JSON.parse(localStorage.getItem("user_token"));
      axios
        .post("http://127.0.0.1:8000/api/login", this.loginRequest, {
           headers: {
            Authorization: "bearer " + user_token,
          },
        })
        .then((response) => {
          this.loading = false;
          if (response.status === 200) {
            console.log(response.data.status);
            console.log(response.data.id_user);
            console.log(response.data);
            if (response.data.status == true) {
              localStorage.setItem("user_token", '"default"');
              localStorage.id_user = response.data.id_user;
              localStorage.username = response.data.username;
              localStorage.password_user = response.data.password;
              localStorage.usertype = response.data.usertype;
              window.location.href = "/quotations";
            } else {(response.data.status == false) 
              // window.location.href = "/";
              console.log(response.data.status);
              this.errorMessage = "บัญชีผู้ใช้ หรือรหัสผ่านไม่ถูกต้อง";
            }
          }
        })
        .catch(() => {
          this.loading = false; 
        });
    },
  },
};
</script>

<style scoped>
#app {
  text-align: center;
  color: #180f12;
  background-color: white;
}
.ui-toolbar {
  background-color: #343a40;
  height: 83px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.ui-app-brand {
  line-height: 65px;
  height: 65px;
  font-size: 1.25rem;
  position: absolute;
  left: 10px;
  top: 10px;
}
.ui-app-logo {
  height: 65px;
  border: solid 1px #ffc107;
  float: left;
  margin-right: 1rem;
  padding: 5px;
  border-radius: 5px;
}
</style>