<template>
  <div class="hello ">
    <div class="contents bg-white p-5">
        <div class="contents-header text-center">
          <h3>กรมทรัพยากรทางทะเลและชายฝั่ง</h3>
          <br>
          <p><strong> ระบบสนับสนุนงานฟื้นฟูและบำรุงรักษาป่าชายเลน ภายใต้โครงการจัดทำแผนที่ เครื่องหมายแสดงแนวเขตพื้นที่ป่าชายเลนอนุรักษ์ ประจำปีงบประมาณ พ.ศ. 2563</strong></p>
        </div>
        <hr>
        <div class="contents-body">
          <div class="form-login">
            <p class="text-center">
              <strong>ส่งคำขอการเปลี่ยนรหัสผ่านเรียบร้อย โปรดเช็คใน อีเมลของคุณ | <a href="/auth/login">กลับหน้า login</a></strong>
            </p> 
          </div>
        </div>
      </div>
  </div>
</template>
<style scoped>
  .login {
    margin-top: 8%;
  }
  .contents-header{
      padding: 0 12rem;
  }

  @media only screen and (max-width: 700px){
    .contents-header{
      padding: 0;
    }

  }
</style>